body {
    background-image: url("https://images6.alphacoders.com/650/thumb-1920-650608.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
}
h1 {
    padding-top: 40px;
    font-family: 'Source Serif Pro', serif;
    color: rgba(26, 26, 109, 0.884);
    background: none;
    text-align: center;
    font-size: 80px;
    font-weight: none;
}
h2 {
    font-family: 'Source Serif Pro', serif;
    color: rgb(105, 21, 21);
    background: none;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}
#start-button{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}
.button {
font-family:Arial, Helvetica, sans-serif;
   color: black;
   background-color: white;
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.list-group-item {
    border: transparent;
    background-color: white;
    color: black;
    text-align: center;
}
#question {
    background-color: white;
    color: black;
    font-size: 20px;
}
