body {
    background-image: url("https://images6.alphacoders.com/650/thumb-1920-650608.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
}
h1 {
    padding-top: 40px;
    font-family: 'Oranienbaum', serif;
    color: rgba(20, 42, 92, 0.973);
    background: none;
    text-align: center;
    font-size: 110px;
    letter-spacing: -6px;
    transform: scaleY(1.2);
}
h2 {
    font-family: 'Oranienbaum', serif;
    color: rgb(105, 21, 21);
    background: none;
    text-align: center;
    font-size: 70px;
    line-height: 20px;
    padding-bottom: 25px;
    letter-spacing: -4px;
}
#start-button{
    font-size: 20px;
    font-family: 'Adamina', serif;
}
h4 {
    font-family: 'Adamina', serif;    
    background-color: white;
}
.list-group-item {
    border: transparent;
    background-color: white;
    color: black;
    text-align: left;
    line-height: 20px;
}
#question {
    font-family: 'Adamina', serif;
    background-color: white;
    color: rgb(105, 21, 21);
    font-size: 22px;
    font-weight: bold;
}
#clock {
    font-family: 'Adamina', serif;
    font-size: 30px;
    color: rgba(26, 26, 109, 0.884);
    font-weight: bold 2px;
    padding-left: 20px;
}
h3 {
    font-family: 'Adamina', serif;
    color: rgb(105, 21, 21);
}